### IntelliJ IDEA ###
### IntelliJ IDEA ###
# Exclude global output folder
out/
# Maar sta toe binnen src/structuren
!**/src/main/**/out/
!**/src/test/**/out/



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store